@font-face {
  font-family: 'Decovar';
  src: url(../assets/fonts/DecovarAlpha-VF.ttf) format("truetype");
  font-weight: 200;
}

html{
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  background-color: #0F060F;
}

h1{
  margin-top: 3em;
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  color: #f5f5f5;
  text-align: center;
}

.button div{
text-align:center;
}

.button {
  margin-top: 1em;
  border: 2em;
  border-color: #ffff;
  color: white;
  padding: 16px 32px;
  font-size: 2em;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button hover{
  background-color: #B1EA86;
}

.container div{
  padding: 23px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-un{
  width: 165px;
  height: 351px;
  margin-top: -40px;
}

.image-deux{
  width: 204px;
  height: 276px;
}
.image-trois{
  width: 196px;
  height: 214px;
}
.image-quatre{
  width: 294px;
  height: 221px;
}
.image-cing{
  width: 260px;
  height: 375px;
}
.image-six{
  width: 201px;
  height: 279px;

}
.image-sept{
  width: 234px;
  height: 316px;
}
