@font-face {
  font-family: 'Decovar';
  src: url(../assets/fonts/DecovarAlpha-VF.ttf) format("truetype");
  font-weight: 200;
}

html{
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  background-color: #0F060F;
}

h1{
  margin-top: 3em;
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  color: #f5f5f5;
  text-align: center;
  z-index: 999;
}

.center {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #F5F6F4;
  letter-spacing: 3px;
}

.button hover{
  background-color: #B1EA86;
}

.container div{
  padding: 20px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-un{
  width: 200px;
  height: 388px;
  margin-top: -65px;
}
.image-un:hover{
  margin-top: -3px;
  transition: 2s;
}

.image-deux{
  width: 225px;
  height: 305px;
  margin-top: 80px;
}
.image-deux:hover{
  margin-top: -5px;
  transition: 2s;
}
.image-trois{
  width: 217px;
  height: 236px;
  margin-top: 148px;
}
.image-trois:hover{
  margin-top: 100px;
  transition: 2s;
}
.image-quatre{
  width: 325px;
  height: 245px;
  margin-top: 139px;
}
.image-quatre:hover{
  margin-top: 100px;
  margin-left: 30px;
  transition: 2s;
}
.image-cinq{
  width: 414px;
  height: 288px;
  margin-left: 290px;
}
.image-cinq:hover{
  margin-top: 30px;
  transition: 2s;
}
.image-six{
  width: 222px;
  height: 309px;
}
.image-six:hover{
  margin-top: 30px;
  transition: 2s;
}
.image-sept{
  width: 258px;
  height: 349px;
  margin-top: 50px;
}
.image-sept:hover{
  margin-top: 60px;
  transition: 2s;
}
