@font-face {
  font-family: 'Decovar';
  src: url(../assets/fonts/DecovarAlpha-VF.ttf) format("truetype");
  font-weight: 200;
}

html{
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  background-color: #0F060F;
}

.button1 {
  border: 1px solid #160524;
  font-variation-settings: 'TRME' 473.13;
  border: none;
  border-radius: 1em;
  color: #B1EA86;
  padding: 16px 32px;
  font-size: 46px;
  margin: 1% 91.3%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

h1{
  margin-top: 0.5em;
  font-family: 'Decovar', sans-serif;
  font-size: 1.5em;
  font-weight: 140;
  color: #f5f5f5;
  text-align: center;
  font-variation-settings: 'TRME' 473.13;
  animation-duration: 2s;
  animation-name: appearIn;
}

h2{
  padding-left: 30px;
  padding-top: 220px;
  font-size: 0.15em;
  color: #1C0B1D;
  font-variation-settings: 'WMX2' 473.13;
  animation: fadein 4s;
   -webkit-animation: fadein 4s;
}


h3{
  margin-top: 1em;
  line-height: 40px;
  font-size: 0.8em;
  padding: 30px;
  color: #E2B6E2;
  letter-spacing: 5px;
  text-align: center;
  font-variation-settings: 'TRME' 1000;
  animation: fadein 2s;
   -webkit-animation: fadein 2s;
   animation-duration: 1.5s;
   animation-name: appearIn;
}


h4{
  padding-left: 30px;
  padding-top: 10px;
  font-size: 0.30em;
  color: #1C0B1D;
  font-variation-settings: 'WMX2' 473.13;
  animation: fadein 4s;
   -webkit-animation: fadein 4s;
}

h4:hover{
  padding-left: 30px;
  padding-top: 10px;
  font-size: 0.30em;
  color: #DC4EF9;
  font-variation-settings: 'WMX2' 473.13;
}

header{
  padding: 55px;
  text-align: center;
  font-variation-settings: 'TRME' 1000;

}

header p{
  padding: 30px;
    font-size: 1.5em;
}

header a {
  text-decoration: none;
  font-variation-settings: 'WMX2' 0;
  transition: all .5s;
}


header a:hover{
  font-variation-settings: 'WMX2' 500;
  color: #f5f5f5;
}

header a:nth-child(1){
  color: #f5f5f5;
}
header a:nth-child(2){
  color: #f5f5f5;
}
header a:nth-child(3){
  color: #f5f5f5;
}



.basic-box{
  border: 1px solid #160524;
  text-align: left;
  height: 300px;
  font-size: 3.5em;
  font-variation-settings: 'WMX2' 473.13;
  animation-duration: 2s;
  animation-name: stretch;
  background-color: #EED3EE;
}

.basic-box:hover{
  transition: 0.5s;
  transition-timing-function: ease-in;
}

#a:hover{
  background-image: url(../images/acne_studios.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#b:hover{
  background-image: url(../images/balenciaga.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#c:hover{
  background-image: url(../images/chanel.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#d:hover{
  background-image: url(../images/dior.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#e:hover{
  background-image: url(../images/escada.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#f:hover{
  background-image: url(../images/fendi.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#g:hover{
  background-image: url(../images/gucci.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#h:hover{
  background-image: url(../images/helmut_lang.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#i:hover{
  background-image: url(../images/isabel_marant.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#j:hover{
  background-image: url(../images/jacquemus.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#k:hover{
  background-image: url(../images/kye.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  border-color:#DC4EF9;
}
#l:hover{
  background-image: url(../images/lanvin.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#m:hover{
  background-image: url(../images/maison_margiela.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-color:#DC4EF9;
}
#n:hover{
  background-image: url(../images/nina_ricci.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#o:hover{
  background-image: url(../images/oscar_dela_renta.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#p:hover{
  background-image: url(../images/prada.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#q:hover{
  background-image: url(../images/qasimi.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#r:hover{
  background-image: url(../images/raf_simons.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#s:hover{
  background-image: url(../images/sandro.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#t:hover{
  background-image: url(../images/tory_burch.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-color:#DC4EF9;
}
#u:hover{
  background-image: url(../images/uma_wang.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#v:hover{
  background-image: url(../images/valentino.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.5s;
  transition-timing-function: ease-in;
  border-color:#DC4EF9;
}
#w:hover{
  background-image: url(../images/wooyoungmi.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#x:hover{
  background-image: url(../images/xu_zhi.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-color:#DC4EF9;
}
#y:hover{
  backdrop-filter: blur(10px);
  background-image: url(../images/yves_saintlaurent.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-color:#DC4EF9;
}
#z:hover{
  background-image: url(../images/zuhair_murad.jpg);
  transform: scale(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-color:#DC4EF9;
}


.abcontainer{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.box-filter{
  display: none;
}

#consonant:target ~ .vowel:hover{
    display: none;
}

#consonant:target ~ .vowel{
    display: none;
}

#vowel:target ~ .consonant{
    display: none;
}

#all:target ~ .consonant, .vowel{
    display: block;
}

@keyframes appearIn {
  0%{
    transform: scale(0.2);
  }

  60%{
    transform: scale(1.1);
    opacity: 1;
  }

  100%{
    transform: scale(1);
  }
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #D597D8;
    border-radius: 100%;
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(100%);
    border-radius: 0%;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.button2 {
  border-color: #F5F6F4;
  font-variation-settings: 'TRME' 500;
  color: #F5F6F4;
  padding: 16px 20px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 0px 537px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
